<header>
    <h1 class="logo">Uni-help <abbr title="at" lang="en">@</abbr>
        <abbr title="Università degli studi di Padova">UniPD</abbr>
    </h1>
    <nav>
        <ul>
            <li><a class="active">Home</a></li>
            <li><a href="">Recensioni corsi</a></li>
            <li><a href="aule.html">Aule studio</a></li>
            <li><a href=""><abbr xml:lang="en" title="Frequently Asked Question">F.A.Q.</abbr></a></li>
            <component>userlogin_action</component>
        </ul>
    </nav>
</header>