<head>
    <base href="">
    <link rel="stylesheet" href="../../src/assets/css/main.css">
</head>

<body>

    <header>
        <h1 class="logo">Uni-help <abbr title="at" xml:lang="en">@</abbr>
            <abbr title="Università degli studi di Padova">UniPD
            </abbr>
        </h1>
        
        <div id="nav" class="header-right">
            <!-- <ul> -->
                <a class="active">Home</a>
                <a href="">Recensioni corsi</a>
                <a href="">Aule studio</a>
                <a href=""><abbr xml:lang="en" title="Frequently Asked Question">F.A.Q.</abbr></a>
                %_USERLOGIN_ACTION_%
            </ul>
        </div>
    </header>
</body>