<head>
    
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <header>
        <h1>Uni-help <abbr title="at" xml:lang="en">@</abbr>
            <abbr title="Università degli studi di Padova">UniPD
            </abbr>
        </h1>
        <nav>
            <ul>
                <li><a href="">Recensioni corsi</a></li>
                <li><a href="">Aule studio</a></li>
                <li><a href=""><abbr xml:lang="en" title="Frequently Asked Question">F.A.Q.</abbr></a></li>
                %_USERLOGIN_ACTION_%
            </ul>
        </nav>
    </header>
</body>