<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uni-Help</title>
</head>
<body>

    %_HEADER_%

    <ul class="flex-container">
        <li class="primary-box">
            <img src="assets/img/collab.svg" height="75%" width="80%"/>
            <h1>Facciamo questo</h1>
        </li>
        
        <li class="primary-box">
            <img src="assets/img/search.svg" height="75%" width="80%"/>
            <h1>E facciamo anche questo</h1>
        </li>
        
        <li class="primary-box">
            <img src="assets/img/study.svg" height="75%" width="80%"/>
            <h1>Ma soprattutto facciamo questo</h1>
        </li>
    </ul>
</body>

</html>