<!DOCTYPE html>
<html lang="it">
<head>
    <base href="<component>base</component>">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 404 - UniHelp </title>
</head>

<body>

    <component>header</component>

    <section id="error404" class="flex-container flex-close solid helper beauty-img">
        <h2>Come sei arrivato qui? Sbagliato scala in Torre Archimede?</h2>
        <p>Allora, <component>from</component> <component>to</component></p>
    </section>

</body>

</html>