<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <component>header</component>

    <div class="flex-container flex-close solid">
        <img class="primary-box" src="assets/img/loc_search.svg"></img>
        <div class="helper">
            <h2>Come sei arrivato qui? Sbagliato scala in Torre Archimede?</h2>
            <p>Allora, <component>from</component> <component>to</component></p>
        </div>
    </div>

</body>

</html>