<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><component>name_tit</component> - UniHelp</title>
</head>

<body>

    <component>header</component>
    
    <section id="aula">
        <h2><component>name</component></h2>

        <!--Questo paragrafo va ovviamente calcolato-->
        <div class="status">
            <p>4.86 su 5 - 140 Recensioni</p>
            <div>
                <span class="red-dot"></span>
                <p>Stato: aperta</p>
            </div>
        </div>
        
        <div class="photo-gallery">
            <component>main_image</component>
            <img src="assets/img/asta.jpg" alt="">
            <img src="assets/img/jappelli.jpg" alt="">
            <img src="assets/img/asta.jpg" alt="">
            <img src="assets/img/jappelli.jpg" alt="">
        </div>

        <div class="mini_title">
            <h3><component>short_desc</component></h3>
            <ul>
                <li><component>seats</component> posti disponibili</li>
                <li><component>wifi</component></li>
                <li><component>registration</component></li>
            </ul>
        </div>

        <div class="article_body">
            <component>description</component>
        </div>

        <component>recensioni</component>>
    </section>

</body>

</html>