<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><component>name_tit</component> - UniHelp</title>
</head>

<body>

    <component>header</component>
    
    <section id="corso" class="centered">
        <h2 class="mini_title"><component>name</component></h2>
        <p><component>description</component></p>

        <ul class="corso">
            <li><component>cfu</component> CFU</li>
            <li><component>periodo</component></li>
            <li><component>lingua</component></li>
            <li>Il corso è tenuto da <component>responsabile</component></li>
        </ul>
    
        <div class="status">
            <p>4.86 su 5 - 140 Recensioni</p>
        </div>

        <component>recensioni</component>>
    </section>

</body>

</html>