<footer>
    <div class="flex-container">
        <div class="footer-box">
            <h2>Developers</h2>
            <ul>
                <li>Alessio Ferrarini</li>
                <li>Alessandro Massarenti</li>
                <li>Elia Pasquali</li>
            </ul>
        </div>

        <div class="footer-box">
            <h2>Sedi</h2>
            <ul>
                <li>
                    <p>Edificio Paolotti (PD), 35131</p>
                    <p>Via Belzoni, 7</p>
                </li>
                <li>
                    <p>Torre Archimede (PD), 35131</p>
                    <p>Via Trieste, 63</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy">
        <p>Copyright &copy; <span lang="en">Tecwebberz</span> 2022</p>
        <p> Padova(PD)</p>
    </div>
</footer>