<form id="form-review" class="medium articled solid" action="app/review.php" method="POST">
    <fieldset class="row rating">
        <legend>Voto</legend>
        <span class="stars">
            <label for="star-1">Una stella</label>
            <input type="radio" id="star-1" name="rating" value="1" checked><i aria-disabled="true"></i>
            <label for="star-2">Due stelle</label>
            <input type="radio" id="star-2" name="rating" value="2"><i aria-disabled="true"></i>
            <label for="star-3">Tre stelle</label>
            <input type="radio" id="star-3" name="rating" value="3"><i aria-disabled="true"></i>
            <label for="star-4">Quattro stelle</label>
            <input type="radio" id="star-4" name="rating" value="4"><i aria-disabled="true"></i>
            <label for="star-5">Cinque stelle</label>
            <input type="radio" id="star-5" name="rating" value="5"><i aria-disabled="true"></i>
        </span>
    </fieldset>
    <label for="review">Di a tutti cosa ne pensi</label>
    <textarea id="review" name="review" rows="5" cols="80" placeholder="La tua recensione" required></textarea>
    <input name="type" type="hidden" id="type" value="<component>type</component>">
    <input name="id" type="hidden" id="id" value="<component>id</component>">
    <input class="btn btn-primary row" type="submit" value="Invia!">
</form>