<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="../assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Uni-Help</title>
</head>
<body>

<form class="medium review articled">
    <div class="star-rating">
        <label for="star">Voto</label>
        <input type="radio" name="star1" value="1">
        <input type="radio" name="star2" value="2">
        <input type="radio" name="star3" value="3">
        <input type="radio" name="star4" value="4">
        <input type="radio" name="star5" value="5">
    </div>
    <div class="row">
        <label class="" for="anon"> Recensione anonima? </label>
        <input class="" id="anon" type="radio" name="Anonimo">
    </div>
    <textarea class="col" rows="4" cols="60" placeholder="Di a tutti cosa ne pensi"></textarea>
    <input class="btn btn-primary col" type="submit" value="Invia!">
    </form>
</body>

</html>