<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="../assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Uni-Help</title>
<script>
    function stampa(ele) {
        console.log("click da "+ ele.id);
    }
</script>

</head>
<body>

<form class="medium review articled">
    <div class="row stars">
        <label for="star">Voto</label>
        <input class="star" id="star-1" type="radio" name="star" onclick="stampa(this)">
        <label class="star" id="star-l1" for="star-1"></label>
        <input class="star" id="star-2" type="radio" name="star" onclick="stampa(this)">
        <label class="star" id="star-l2" for="star-2"></label>
        <input class="star" id="star-3" type="radio" name="star" onclick="stampa(this)">
        <label class="star" id="star-l3" for="star-3"></label>
        <input class="star" id="star-4" type="radio" name="star" onclick="stampa(this)">
        <label class="star" id="star-l4" for="star-4"></label>
        <input class="star" id="star-5" type="radio" name="star" onclick="stampa(this)">
        <label class="star" id="star-l5" for="star-5"></label>
    </div>
    <div class="row">
        <label for="anon"> Anonimo? </label>
        <input id="anon" name="star" type="radio" name="Anonimo">
    </div>
    <textarea class="row" rows="4" cols="70" placeholder="Di a tutti cosa ne pensi"></textarea>
    <input class="btn btn-primary row" type="submit" value="Invia!">
    </form>
</body>

</html>