<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UniHelp è la piattaforma pensata per gli studenti di informatica dell'Università di Padova dove scambiarsi consigli sui corsi e sulle aule studio">
    <meta name="keywords" content="unipd, informatica, informazioni, corsi, laurea, studenti, recensioni">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali">
    <title>Uni-Help</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/print.min.css" media="print">
    
</head>
<body class="no-print">

    <component>header</component>

    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><span aria-current="page" lang="en">Home</span></li>
            </ol>
        </nav>
        <ul class="flex-container">
            <li id="collab" class="primary-box home-card beauty-img solid">
                <h1>Collabora</h1>
                <p>Collabora con i tuoi compagni di corso per sopravvivere all'università!</p>
            </li>
            
            <li id="search" class="primary-box home-card beauty-img solid">
                <h1>Trova quello che ti serve</h1>
                <p>Trova tutte le informazioni sul corso di laurea in informatica in un solo posto!</p>
            </li>
            
            <li id="study" class="primary-box home-card beauty-img solid">
                <h1>Recensioni </h1>
                <p>Recensisci corsi e aule studio. Trova quelle più vicine a te!</p>
            </li>
        </ul>
    </div>
    <component>footer</component>
</body>
</html>