<!DOCTYPE html>

<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Raccolta delle convenzioni offerte dall'Università di Padova per la mobilità sostenibile">
  <meta name="keywords" content="unipd, mobilità, sostenibilità, bikesharing, monopattini, bit, dott, goodbike informatica, matematica">
  <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali, Augusto Zanellato">
  <title>Mobilità - Uni-Help</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="stylesheet" href="assets/css/print.min.css" media="print">
  
</head>

<body>
  
  <component>header</component>
  
  <div class="main">
    <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
      <ol>
        <li><a href="./index.php" lang="en">Home</a>   </li>
        <li><a href="./servizi.php">Servizi</a>  </li>
        <li aria-current="page">Mobilità</li>
      </ol>
    </nav>
    
    
    <section class="solid">
      <h2>Convenzioni per la mobilità</h2>
      <p >Sono state sottoscritte tre nuove convenzioni per promuovere la mobilità sostenibile di cui tutta la comunità accademica potrà beneficiare</p>
      <dl>
        <dt> <span lang="en">Goodbike</span> </dt>
        <dd>
          <p>Si ha il diritto ad uno sconto del 20% sull'acquisto dei servizi tramite l'applicazione BicinCittà</p>
          <p>Promozione valida tutti i giorni.</p>
          <a class="btn btn-primary app" href="https://play.google.com/store/apps/details?id=com.batsharing.android.urbibicitta&gl=US" target="_blank">Scarica BicinCittà per <span lang="en">Android</span></a>
          <a class="btn btn-primary app" href="https://apps.apple.com/it/app/bicincitt%C3%A0/id472750001" target="_blank">Scarica BicinCittà per <span lang="en">iOS</span></a>
        </dd>
        
        <dt> <span lang="en">BIT Mobility</span></dt>
        <dd>
          <p>Vengono offerti due sblocchi giornalieri gratuiti dei monopattini elettrici disponibili tramite app, uno sconto del 20% sulla tariffa oraria e un ulteriore sconto del 10% sugli abbonamenti con denominazione <span lang="en">"Unbitable"</span></p>
          <p>La promozione è attiva dal lunedì al sabato.</p> 
          <a class="btn btn-primary app" href="https://play.google.com/store/apps/details?id=it.bitmobility.bit&gl=US" target="_blank">Scarica BIT per <span lang="en">Android</span></a>
          <a class="btn btn-primary app" href="https://apps.apple.com/it/app/bit/id1464155063" target="_blank">Scarica BIT per <span lang="en">iOS</span></a>
        </dd>
        
        <dt> Dott </dt>
        <dd>
          <p> È previsto uno sconto del 30% sul valore della tariffa finale di utilizzo dei monopattini elettrici Dott</p>
          <p>La promozione è attiva dal lunedì alla domenica.</p>
          <a class="btn btn-primary app" href="https://play.google.com/store/apps/details?id=com.ridedott.rider&gl=US" target="_blank">Scarica Dott per <span lang="en">Android</span></a>
          <a class="btn btn-primary app" href="https://apps.apple.com/it/app/dott-unlock-your-city/id1440301673" target="_blank">Scarica Dott per <span lang="en">iOS</span></a>
        </dd>
      </dl>
    </section>
    
    <component>footer</component>
    
  </body>
  </html>