<form id="form-mod-review" class="modify-review">
    <fieldset class="rating">
    <legend>Voto</legend>
    <span class="stars">
        <label for="star-1">Una stella</label>
        <input type="radio" id="star-1" name="rating" value="1"><i></i>
        <label for="star-2">Due stelle</label>
        <input type="radio" id="star-2" name="rating" value="2"><i></i>
        <label for="star-3">Tre stelle</label>
        <input type="radio" id="star-3" name="rating" value="3"><i></i>
        <label for="star-4">Quattro stelle</label>
        <input type="radio" id="star-4" name="rating" value="4"><i></i>
        <label for="star-5">Cinque stelle</label>
        <input type="radio" id="star-5" name="rating" value="5"><i></i>
    </span>
</fieldset>
<!-- Richiamando get_review si inserisce il testo della review -->
<label for="modify">Modifica la recensione</label>
<textarea name="modify" id="modify" rows="4"></textarea>
<input class="btn btn-primary" type="submit" value="Invia!">
</form>