<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/print.css" media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automi e Linguaggi Formali - UniHelp</title>
</head>

<body>
    
    <header class="flex-container">
        <h1 class="logo">Uni-help <abbr title="at" lang="en">@</abbr>
            <abbr title="Università degli studi di Padova">UniPD</abbr>
        </h1>
        
        <nav>
            <ul class="flex-container">
                <li><a href="index.php">Home</a></li>
                <li><a href="corsi.php">Corsi</a></li>
                <li><a href="aule.php">Aule studio</a></li>
                <li><a href="faq.php"><abbr title="Frequently Asked Question" lang="en">F.A.Q.</abbr></a></li>
                <li><a href="accedi.php">Accedi</a></li><li><a href="registrati.php">Registrati</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="corso" class="centered">
    <h2 class="mini_title">Automi e Linguaggi Formali</h2>
    <p>Fornisce i concetti fondamentali della teoria degli automi e dei linguaggi formali. Inoltre, introduce le nozioni di indecidibilità e intrattabilità.</p>

    <ul class="corso">
    <li>6 CFU</li>
    <li>2° semestre del 2° anno</li>
    <li>Il corso è tenuto in lingua italiana</li>
    <li>Il corso è tenuto da Davide Bresolin</li>
    <li>Email responsabile: <a href="mailto:davide.bresolin@unipd.it">davide.bresolin@unipd.it</a></li>
    </ul>

    <div class="status">
    <p>5 su 5 - 1 Recensioni</p>
    </div>

    <p>Per poter commentare devi <a href="accedi.php?target=corso.php%3Fid%3D12">accedere</a> o <a href="registrati.php">registrarti</a></p>
    <ol class="recensioni">
    <li class="review">
    <h2> Recensione di Elia Pasquali (@elpasqua) </h2>
    <h3>★★★★★</h3>
    <p>Pushdown automata goes brrr Id deserunt commodo labore fugiat eiusmod aliquip laboris.
        Incididunt eu pariatur consectetur aliqua incididunt dolor elit.</p>
        <!-- <form class="modify-review">
            <fieldset class="rating">
                <legend>Voto</legend>
                <span class="stars">
                    <label for="star-1">Una stella</label>
                    <input type="radio" id="star-1" name="rating" value="1"><i></i>
                    <label for="star-2">Due stelle</label>
                    <input type="radio" id="star-2" name="rating" value="2"><i></i>
                    <label for="star-3">Tre stelle</label>
                    <input type="radio" id="star-3" name="rating" value="3"><i></i>
                    <label for="star-4">Quattro stelle</label>
                    <input type="radio" id="star-4" name="rating" value="4"><i></i>
                    <label for="star-5">Cinque stelle</label>
                    <input type="radio" id="star-5" name="rating" value="5"><i></i>
                </span>
            </fieldset>
            <label for="modify">Modifica la recensione</label>
            <textarea name="modify" id="modify" rows="4"></textarea>
            <input class="btn btn-primary" type="submit" value="Invia!">
        </form> -->
        <form class="modify">
            <input class="btn btn-primary btn-mini" type="button" value="Modifica">
            <a class="btn btn-primary btn-mini" href="app/delete_review.php?id=<component>id</component>">Cancella</a>
        </form>
        <!-- <div class="modifica">
            <a class="btn btn-primary btn-mini">Modifica</a>
            <input class="btn btn-primary btn-mini" type="button" value="Cancella">
            <a class="btn btn-primary btn-mini">Cancella</a>
        </div> -->
    </li>
    <!-- <li class="review">
        <h2> Recensione di Elia Pasquali (@elpasqua) </h2>
        <p>★★★★★
            Pushdown automata goes brrr Id deserunt commodo labore fugiat eiusmod aliquip laboris.
            Incididunt eu pariatur consectetur aliqua incididunt dolor elit.</p>
            <div class="modifica">
                <a class="btn btn-primary btn-mini">Modifica</a>
                <a class="btn btn-primary btn-mini">Cancella</a>
            </div>
        </li>
        <li class="review">
            <h2> Recensione di Elia Pasquali (@elpasqua) </h2>
            <p>★★★★★
                Pushdown automata goes brrr Id deserunt commodo labore fugiat eiusmod aliquip laboris.
                Incididunt eu pariatur consectetur aliqua incididunt dolor elit.</p>
                <div class="modifica">
                    <a class="btn btn-primary btn-mini">Modifica</a>
                    <a class="btn btn-primary btn-mini">Cancella</a>
                </div>
            </li>
        </ol> -->
    </section>
</body>