<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali">
    <title> Successo - Unihelp </title>
</head>

<body>

    <component>header</component>

    <section id="success" class="flex-container flex-close solid helper beauty-img">
        <h2>Ottimo<em> <component>user</component> </em>ti sei registrato con successo </h2>
        <p>Adesso puoi <a class="app" href ="../accedi.php">accedere</a> o <a class="app" href ="../index.php">tornare alla <span lang="en">home</span></a></p>
    </section>

    <component>footer</component>
</body>

</html>