<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Successo - Unihelp </title>
</head>

<body>

    <component>header</component>

    <div class="flex-container flex-close solid">
        <img class="primary-box" src="assets/img/success.svg"></img>
        <div class="helper">
            <h2>Ottimo<em> <component>nome</component> </em>ti sei registrato con successo </h2>
            <a class="btn btn-primary app" href ="https://uniweb.unipd.it/">Accedi</a>
            <a class="btn btn-primary app" href ="https://uniweb.unipd.it/">Torna alla <span lang="en">home</span></a>
        </div>
    </div>

</body>

</html>