<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UniHelp è la piattaforma pensata per gli studenti di informatica dell'Università di Padova dove scambiarsi consigli sui corsi e sulle aule studio">
    <meta name="keywords" content="unipd, informatica, informazioni, corsi, laurea, studenti, recensioni">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali, Augusto Zanellato">
    <title>Uni-Help</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.min.css" media="print">
    
</head>
<body class="no-print">
    
    <component>header</component>
    
    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><a href="./index.php" lang="en">Home</a>   </li>
                <li aria-current="page"> Servizi </li>
            </ol>
        </nav>
        
        <ul class="flex-container">
            <li id="transport" class="primary-box services-card beauty-img solid">
                <h1>Trasporti</h1>
                <p>Muoviti per la città sfruttando i servizi di sharing!</p>
                <a class="btn btn-primary" role="button" href="trasporti.php">Vai ai trasporti</a>
            </li>
            
            <li id="printed" class="primary-box services-card beauty-img solid">
                <h1>Servizio di stampe</h1>
                <p>Stampa i tuoi appunti direttamente nei laboratori!</p>
                <a class="btn btn-primary" role="button" href="stampe.php">Vai alle stampe</a>
            </li>
        
            <li id="software" class="primary-box services-card beauty-img solid">
                <h1>Convenzioni software</h1>
                <p>Scopri quali convenzioni per licenze offre l'Università</p>
                <a class="btn btn-primary" role="button" href="software.php">Vai ai software</a>
            </li>
        </ul>
    </div>
        
        <component>footer</component>
        
    </body>
</html>