<!DOCTYPE html>

<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tutti i software convenzionati per gli studenti di Informatica all'Università di Padova">
  <meta name="keywords" content="software, windows, unipd, informatica">
  <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali, Augusto Zanellato">
  <title>Software - Uni-Help</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="stylesheet" href="assets/css/print.min.css" media="print">
</head>
<body>
  <component>header</component>
  
  <div class="main">
    <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
      <ol>
        <li><a href="./index.php" lang="en">Home</a>   </li>
        <li><a href="./servizi.php" lang="en">Servizi</a>   </li>
        <li aria-current="page">Software</li>
      </ol>
    </nav>
    <section class="solid">
      <h2>I software convenzionati con Università di Padova</h2>
      <dl>
        <dt> <span lang="en">Autodesk</span> </dt>
        <dd>
          <p>Gli studenti, i docenti e gli istituti didattici possono accedere gratuitamente al software di progettazione 3D professionale Autodesk.</p>

          <a class="btn btn-primary app" href="https://www.autodesk.it/">Scopri di più</a>
        </dd>
        
        <dt> <span lang="en">Matlab</span></dt>
        <dd>
          <p>Un software a disposizione di studenti e del personale dell’università di Padova. L’ateneo ha infatti firmato una convenzione da gennaio 2017 per il rilascio di una licenza Matlab Campus.

            Il Matlab è un linguaggio e un ambiente interattivo per il calcolo numerico, l’analisi e la visualizzazione dei dati e la programmazione.
            
            Il contratto Campus (Total Academic Headcount Licenses – student option) ha una durata annuale e comprende l’installazione del pacchetto base di Matlab e di tutti i moduli opzionali sottoscritti, su postazioni personali (pc di casa e portatile) fino a un massimo di quattro installazioni. A questo si aggiunge la distribuzione degli aggiornamenti.
            
            La licenza è rivolta a tutto il personale docente, tecnico amministrativo, ricercatori, dottorandi e assegnisti e studenti in corso.</p> 

          <a class="btn btn-primary app" href="https://www.ict.unipd.it/servizi/servizi-utenti-istituzionali/contratti-software-e-licenze/matlab?_ga=2.110676870.2045146567.1651691770-130375840.1651691770">Scopri di più</a>
        </dd>
        
        <dt> <span lang="en">Office</span> </dt>
        <dd>
          <p>Il contratto campus stipulato con Microsoft prevede che tutti gli studenti, docenti e personale tecnico possano disporre di 5 licenze Office Pro Plus utilizzabili su propri dispositivi personali (PC, MAC e tablet).
          </p>
          <p>Per usufruire di quest'opportunità è sufficiente avere un account valido del tipo @unipd.it oppure @studenti.unipd.it.</p>
          <a class="btn btn-primary app" href="https://www.ict.unipd.it/servizi/servizi-utenti-istituzionali/contratti-software-e-licenze/microsoft-campus/microsoft-office-365?_ga=2.146081661.870398080.1651684567-24780103.1651684567" target="blank">Scopri di più</a>
        </dd>
      </dl>
    </section>
  </div>
  
  <component>footer</component>
  
</body>
</html>