<!DOCTYPE html>

<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tutti i software convenzionati offerti dall'Università di Padova ai suoi studenti">
  <meta name="keywords" content="unipd, informatica, software, windows, matlab">
  <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali, Augusto Zanellato">
  <title>Software - Uni-Help</title>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <link rel="stylesheet" href="assets/css/print.min.css" media="print">
</head>
<body>
  <component>header</component>
  
  <div class="main">
    <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
      <ol>
        <li><a href="./index.php" lang="en">Home</a>   </li>
        <li><a href="./servizi.php" lang="en">Servizi</a>   </li>
        <li aria-current="page" lang="en">Software</li>
      </ol>
    </nav>
    <section class="solid">
      <h2>I <span lang="en">software</span> convenzionati con Università di Padova</h2>
      <dl>
        <dt lang="en">Autodesk</dt>
        <dd>
          <p>Gli studenti, i docenti e gli istituti didattici possono accedere gratuitamente al <span lang="en">software</span> di progettazione 3D professionale <span lang="en">Autodesk</span>.</p>
          <a class="btn btn-primary app" href="https://www.autodesk.it/" target="_blank">Scopri di più</a>
        </dd>
        
        <dt lang="en">Matlab</dt>
        <dd>
          <p> L'ateneo mette a disposizione una licenza <span lang="en">Matlab Campus</span>. Questa permette di installare il pacchetto base di <span lang="en">Matlab</span> e di tutti i moduli opzionali sottoscritti fino ad un massimo di quattro installazioni. Ha durata annuale e comprende gli aggiornamenti del <span lang="en">software</span>.</p>
          <p> È rivolta a tutto il personale docente, tecnico amministrativo, ricercatori, dottorandi, assegnisti e studenti in corso. </p>
          <a class="btn btn-primary app" href="https://www.ict.unipd.it/servizi/servizi-utenti-istituzionali/contratti-software-e-licenze/matlab?_ga=2.110676870.2045146567.1651691770-130375840.1651691770" target="_blank">Scopri di più</a>
        </dd>
        
        <dt lang="en">Office</dt>
        <dd>
          <p>Il contratto <span lang="en">campus</span> stipulato con <span lang="en">Microsoft</span> prevede che tutti gli studenti, docenti e personale tecnico possano disporre di 5 licenze <span lang="en">Office Pro Plus</span> utilizzabili su propri dispositivi personali (PC, Mac e tablet).</p>
          <p>Per usufruire di quest'opportunità è sufficiente avere un <span lang="en">account</span> valido del tipo <em>@unipd.it</em> oppure <em>@studenti.unipd.it</em>.</p>
          <a class="btn btn-primary app" href="https://www.ict.unipd.it/servizi/servizi-utenti-istituzionali/contratti-software-e-licenze/microsoft-campus/microsoft-office-365?_ga=2.146081661.870398080.1651684567-24780103.1651684567" target="_blank">Scopri di più</a>
        </dd>
      </dl>
    </section>
  </div>
  
  <component>footer</component>
  
</body>
</html>