/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

/*Reset rules*/

*{
    /*colori principali*/
    --primary: #9b0014;
    --primary-c: white; 
    --fg: #ffffff;
    --alt-bg: #454953;
    --visited: green;

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Base*/
.center{
    margin: auto;
}

body {
    background-color: var(--alt-bg);
}

/*Link*/
a:link {
    color: var(--primary)
}

a:visited {
    color: var(--visited)
}

/*Flex components*/
.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.primary-box{

    width: 33%;
    height: 25em;

    padding: auto;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    max-width: 400px;
    text-align: center;
}

li.primary-box {
    list-style-type: none;
}

/*Header*/
header {
    overflow: hidden;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 20px 10px; */
    background-color: var(--primary);
    /* float: left; */

}

.logo {
    color: var(--primary-c);
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

/* NAV */
nav {

}

nav ul {
    float: right;
}

nav ul li {

}

nav ul li a {

}

@media screen and (max-width:1200px) {
    .primary-box{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .primary-box{
        width: 90%;
    }
}