<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Corsi - Uni-Help</title>
</head>

<body>
    
    <component>header</component>

    <section class="corsi centered">

        <h2>I corsi della laurea triennale</h2>
        <ol>
            <component>fstyr</component>
            <component>sndyr</component>
            <component>optional</component>
            <component>trdyr</component>
        </ol>
    </section>

</body>

</html>