<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tutti i corsi della Laurea triennale in Informatica all'Università di Padova">
    <meta name="keywords" content="unipd, informatica, triennale, corsi, laurea, primo anno, secondo anno, terzo anno, opzionali, recensioni">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali, Augusto Zanellato">
    <title>Corsi - Uni-Help</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/print.min.css" media="print">
</head>

<body>
    
    <component>header</component>
    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><a href="./index.php" lang="en">Home</a>   </li>
                <li aria-current="page">Corsi</li>
            </ol>
        </nav>
        <section class="corsi solid">

            <h2>I corsi della laurea triennale</h2>
            <ol>
                <component>fstyr</component>
                <component>sndyr</component>
                <component>optional</component>
                <component>trdyr</component>
            </ol>
        </section>
    </div>

    <component>footer</component>

</body>

</html>
