<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Tutti i corsi della Laurea triennale in Informatica all'Università di Padova">
    <meta name="keywords" content="unipd, informatica, triennale, corsi, laurea, primo anno, secondo anno, terzo anno, opzionali, recensioni">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali">
    <title>Corsi - Uni-Help</title>
</head>

<body>
    
    <component>header</component>
    <nav class="breadcrumb">
        Ti trovi in: <a href="./index.php">Home</a> &gt Corsi
    </nav>
    <section class="corsi centered">

        <h2>I corsi della laurea triennale</h2>
        <ol>
            <component>fstyr</component>
            <component>sndyr</component>
            <component>optional</component>
            <component>trdyr</component>
        </ol>
    </section>

</body>

</html>