/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&family=Sarpanch:wght@900&display=swap');

/*Reset rules*/
*{
    /*colori principali*/
    /*primary palette*/
    
        /*main*/
    --primary-bg: white;
    --primary-text: black;
    --primary-link: #B80018;
    --primary-hover: #F3654D;
    --primary-active: #F3654D;
    --primary-visited: #e67946;
    --primary-error-bg: #F8D7DA;
    --primary-error-text: #8E4349;

        /*accent*/
    --primary-accent-bg: #9b0014;
    --primary-accent-text: white;
    --primary-accent-link: #d1d1d1;
    --primary-accent-hover: white;
    --primary-accent-active: white;
    --primary-accent-visited: #d1d1d1;
    
    
    /*alternative palette*/
    --alt-bg: #e4e4e4;
    
    --primary-alt: #60000C;
    --primary-c: #ffffff; 
    

    /*
    --link-one: black;
    --hover-one: #c0c0c0;
    --visited-one: #f0f0f0;
    */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*Base*/

body {
    background-color: var(--alt-bg);
}
    /*Link*/
a{
    text-decoration: none;
    font-weight: 400;
}

a.app {
    display: inline-block;
}
a:link {color: var(--primary-link)}

a:active, a:hover{color: var(--primary-active);}

a:visited {color: var(--primary-visited);}

abbr{
    text-decoration: none;
    font-weight: inherit;
}

span{
    font-weight: inherit;
}

dt{
    background-color: var(--primary-bg);
    color: var(--primary-text);

    border-bottom: solid #d6d6d6 0.5px;

    text-align: left;
    font-weight: bold;   
    font-size: 20px; 
}
dl li{
    list-style: circle;
}

dd {
    padding: 15px;
    padding-right: 0px;
}
dd p{
    margin: 1em 0px;
}
dd dt{
    font-size: 16px;
    border: solid black 0.1em;
    border-bottom: solid #d6d6d6 0.5px ;
    border-radius: 5px 5px 0 0;
    padding: 15px;
}
dd dd{
    border: solid black 0.1em;
    border-top: none;
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
}
dd ul{
    padding: 0em 2em;
}

em{
    font-style: italic;
}

/*Reusables*/

    /*Buttons*/
.btn{
    display: block;
    width: fit-content;
    padding: 7px 15px;
    border-radius: 3px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary-link);
    color: var(--primary-accent-text);
}
.btn-primary:hover{
    background-color: var(--primary-hover);
}

a.btn-primary{
    background-color: var(--primary-accent-bg);
    color: var(--primary-accent-text);
}

a.btn-mini {
    display: inline;
    padding: 2px 5px;
    margin: 0
}

input[type=button], input[type=submit], input[type=reset] {
    border: none;
    text-decoration: none;
  }

.solid{
    background-color: var(--primary-bg);
}

div.flex-close{
    justify-content: center;
}

/*Flex components*/
.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-content: center;
}

.primary-box{
    width: 45%;
    max-width: 800px;
    height: 25em;

    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: center;
}

li.primary-box {
    list-style-type: none;
}

li.primary-box img {
    height: 75%;
    width: 75%;
}

/*Header*/
header {
    overflow: hidden;
    height: auto;
}
    /*Photo gallery*/
.photo-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(1);*/
    grid-gap: 1px; 
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
}
.photo-gallery>img:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.photo-gallery>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

    /*Dots*/
.green-dot{
    height: 0.8em;
    width: 0.8em;
    margin: 5px;
    background-color: seagreen;
    border-radius: 50%;
    display: inline-block;
}
.red-dot{
    height: 0.8em;
    width: 0.8em;
    margin: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

/*Header*/
header {
    background-color: var(--primary-accent-bg);
    min-height: 5em;
    margin: 0 auto 15px auto;
}

header .logo, header .logo * {
    color: var(--primary-accent-text);
    font-size: 25px;
    /* font-weight: black; Non valido*/
    font-family: 'Sarpanch', sans-serif;
    padding: 10px;
}

/* NAV */

nav{
    margin: auto 0;
}

nav ul li {
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a:link {
    color: var(--primary-accent-link);
}

nav ul li a:visited {
    color: var(--primary-accent-visited);
}

nav ul li a:hover,a:active {
    color: var(--primary-accent-active);
}
  
nav ul li.active {
    color: var(--primary-accent-text);
    font-weight: 800;
}

/*Section*/
section{
    max-width: 1200px;
    background-color: var(--primary-bg);
    padding: 15px;
    border-radius: 4px 4px 0px 0px;
}

section.centered{
    margin-right: auto;
    margin-left: auto;
}

section>h2{
    margin-bottom: 20px;
}

.status{
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.status > div{
    display: flex;
    align-items: center;
}

.mini_title{
    border-bottom: solid #d6d6d6 0.5px;
    margin-bottom: 1em;
    padding-bottom: 5px;
}
.mini_title > ul{
    font-size: 0.8em;
    display: flex;
    justify-content:start;
}

.mini_title >ul >li{
    margin: 0 1em;
    color: #222222;
}

.mini_title > ul > li:first-of-type{
    list-style-type:none;
    margin-left: 0;
}

section > .article_body{
    border-bottom: solid #d6d6d6 0.5px;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/*Footer*/
footer{
    background-color: #222222;
    color: white;
}

footer .flex-container{
    color:red;
}

/** CARDS **/

.cards {
    margin: 5% auto ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    list-style: none;
}

.card{
    border-radius: 5px;
    border: solid black 0.5px;
    box-shadow: 2px 2px 2px 1px #888888;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    display: block;
}

.card h3 {
    padding: 15px;
    background-color: var(--primary-accent-bg);
    color: var(--primary-bg);
}

.card .content {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background-color: var(--primary-c);
    flex-grow: 1;
}

.card .extra {
    padding: 15px;
    display: flex;
    /* flex: 2 1 1; Non valido */
    justify-content: space-between;
    background-color: var(--primary-accent-bg);
    font-size: 0.8em;
    align-items: center;
}

.card .extra a {
    background-color: var(--bg);
    padding: 5px;
    color: #fff;
    border-radius: 4px;
}

.card .extra a:hover {
    color: var(--hover-one);
}

.card .extra a.active {
    border-radius: 4px;
    padding: 5px 7px;
    background-color: var(--primary-c);
    color: black;
}

.card .extra p {
    color: #fff;
}

.home-card h1,p{
    text-align: left;
}

.home-card p{
    font-size: 1.2em;    
}

/*Article*/
.article{
    max-width: 1200px;
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 4px;
}

.status{
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.status > div{
    display: flex;
    align-items: center;
}
.status .open{
    height: 0.8em;
    width: 0.8em;
    margin: 5px;
    background-color: seagreen;
    border-radius: 50%;
    display: inline-block;
}
.status .closed{
    height: 0.8em;
    width: 0.8em;
    margin: 5px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

/*Form*/

form{ 
    padding: 10px;
    border-radius: 5px;
    margin: auto;
}

form.floating{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
}

form.articled .row{
    display: flex;
    justify-content: space-between;
}

form.articled .col{
    width: 48%;
}

form.small{
    max-width: 300px;
}
form.medium{
    max-width: 1200px;
}

form h2{
    border-bottom: solid #d6d6d6 0.5px;
    margin-bottom: 1em;
    padding-bottom: 5px;
    text-align: left;
}

input,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

form > .error {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: var(--primary-error-text);
    border: solid var(--primary-error-bg);
    border-radius: 4px;
    background-color: var(--primary-error-bg);
}

ul.error {
    list-style-type: none;
    border-radius: 5px;
    border: solid var(--primary-error-bg);
    background-color: var(--primary-error-bg);
    padding: 5px;
}

ul.error > li {
    color: var(--primary-error-text);
}

/* Corsi */

section.corsi > ol {
    list-style-type: none;
}

section.corsi > ol > li > h3 {
    border-bottom: solid #d6d6d6 0.5px;
    margin-bottom: 5px;

}

section.corsi > ol > li > ul {
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 5px;
}

ul.corso {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    border-left: solid;
    border-color: var(--primary-accent-bg);
    list-style-type: none;
}

ul.corso > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

section#corso > p {
    margin-bottom: 10px;
}
/* Recensioni */

ol.recensioni {
    list-style-type: none;
}

.review{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: solid #d6d6d6 0.5px;
}

.review div.modifica {
    margin-top: 10px;
    margin-left: auto;
}

form textarea {
    width: 100%;
}

fieldset.rating {
    border: none;
}

fieldset.rating > legend {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
}

.stars {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    position: relative;
    background: url("../img/star_black.png");
    background-size: contain;
}

.stars i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("../img/star_gold.png");
    background-size: contain;
}

.stars input {
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

span.stars input:hover + i { opacity:1; } 
span.stars input:checked + i { opacity: 1; }

span.stars i ~ i { width: 40%; }
span.stars i ~ i ~ i { width: 60%; }
span.stars i ~ i ~ i ~ i { width: 80%; }
span.stars i ~ i ~ i ~ i ~ i{ width: 100%; }

/* 404 */

.helper {
    max-width: 400px;
    padding: 20px;
    margin: auto 0;
}

.helper > h2 {
    color: var(--primary-text);
    text-align: left;
    margin-bottom: 10px;
    font-size: 28px;
}

.helper > p {
    color: var(--primary-text);
    text-align: left;
    font-size: 18px;
}

@media screen and (max-width:1200px) {
    section{
        margin-left: 10px;
        margin-right: 10px;
    }

    form.medium{
        width: 90%;
    }

    .cards{
        width: 90%;
    }

}

@media screen and (max-height:700px){
    form.floating{
        position: static;
        top: 0;
        transform: translateY(0);
    }
}

@media screen and (max-width:1024px) {
    
    form > ul {
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width:600px) {
    .primary-box{
        width: 100%;
    }

    .logo {
        text-align: center;
    }

    header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    nav ul li {
        float: none;
        width: 100%;
    }
    nav ul li a{
        text-align: left;
    }

    form.articled .row{
        justify-content: center;
        flex-wrap: wrap;
    }
    
    form.articled .col{
        width: 90%;
    }

    .article > .article_body> p{
        width: 90%;
     }
    .article > .article_body> iframe{
        width: 90%;
    }

    .photo-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
