html {
    font-family: 'Roboto', serif;
}

/* Aule */

ol.cards {
    list-style-type: none;
    display: block;
    margin: 0 0;
}

li.card {
    display: block;
    margin-top: 5px;
    border: none;
    box-shadow: none;
}

li.card > h3 {
    padding: 0;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border-bottom: solid 1px;
    font-size: larger;
}

li.card > h3 > abbr::after {
    content: " ("attr(title)")";
}

li.card > img {
    display: none;
}

li.card > div.content {
    display: block;
    line-height: 1;
    font-size: medium;
    padding: 0;
    background-color: var(--primary-bg);
    margin-left: 10px;

}

li.card > div.extra {
    display: none;
}

/* Corsi */

section.corsi > a { color: var(--primary-text); }
section.corsi > a:link { color: var(--primary-text); }
section.corsi > a:hover { color: var(--primary-text); }
section.corsi > a:visited { color: var(--primary-text); }

/* Corso */

ul.corso {
    border-color: var(--primary-text);
}

/* FAQ */

a.btn.btn-primary.app {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: var(--primary-text);
}

a.btn.btn-primary.app:link::after {
    content: " dal sito " attr(href);
}

#faq a { color: var(--primary-text); }
#faq a:link { color: var(--primary-text); }
#faq a:hover { color: var(--primary-text); }
#faq a:visited { color: var(--primary-text); }

dt {
    border-bottom: solid 1px;
}

dd {
    padding: 0 0 0 5px;    
}

dd p {
    margin: 0;
}

dd dt {
    border: none;
    border-bottom: solid 1px;
    padding: 0;
}

dd dd {
    border: none;
    margin-bottom: 5px;
}

#mense + dd > abbr::after {
    content: " (" attr(title) ")";
}


#calESU::after {
    content: " al sito " attr(href);
}

#qrESU::after {
    content: " visitare " attr(href);
}