<li class="card" data-lat="<component>lat</component>"
                 data-lon="<component>lon</component>" data-open="true">
    <h3><component>name</component></h2>
    <component>image</component>
    <div class="content">
        <p><component>description</component></p>
        <p>Posti: <component>seats</component></p>
        <p>Indirizzo: <component>address</component></p>
        <p>Orario di apertura: da lunedì a venerdì, dalle ore 8.30 alle 18.30</p>
    </div>
    <div class="extra">
        <p>Aperto</p>
        <a href="<component>url_info</component>">Più info</a>
    </div>
</li>