<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tutte le aule studio vicine al Dipartimento di Matematica dell'Università di Padova">
    <meta name="keywords" content="aula studio, recensioni, unipd, padova, informatica, corsi, laurea">
    <meta name="author" content="Alessio Ferrarini, Alessandro Massarenti, Elia Pasquali">
    <title>Aule studio - Uni-Help</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <script src="./assets/script/sort_aule.js" defer></script>  
    
</head>

<body>
    
    <component>header</component>
    <div class="main">
        <nav aria-label="breadcrumb" class="breadcrumb">Ti trovi in:
            <ol>
                <li><a href="./index.php" lang="en">Home</a>   </li>
                <li aria-current="page">Aule</li>
            </ol>
        </nav>

        <section id="aule" class="centered solid">
            <h2 >Le aule studio più vicine a te</h2>
            <ol class="cards">
                <component>cards</component>
            </ol>
        </section>
    </div>
    <component>footer</component>

</body>

</html>