<!DOCTYPE html>

<html lang="it">
<head>
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- type unnecessary for js resource -->
    <script src="../src/assets/script/sort_aule.js"></script>  
    <title>Aule studio - Uni-Help</title>
</head>

<body>
    
    <component>header</component>

    <section class="centered">
        <h2 >Le aule studio più vicine a te</h2>
        <ol class="cards">
            <component>cards</component>
        </ol>
    </section>

</body>

</html>